.dashboard_layout {
	display: grid;
	grid-template-columns: max-content 1fr;
	height: 100vh;
	overflow: hidden;

	main {
		background-color: $col-white-1;
		overflow-y: scroll;
		position: relative;
	}

	.sidebar {
		align-self: start;
		width: 26rem;
		height: 100vh;
	}
}
