

.search {
	&_input {
		max-width: 30rem;
		svg {
			order: -1;
			filter: grayscale(0.7);
		}
		& > input[type="text"] {
			padding: 0.7em;
			font-size: 1.6rem;
            &::placeholder {
				color: $col-gray-btn-l;
				font-weight: $weight-1;
				font-family: inherit;
			}
			&,
			&:hover {
				border: none;
			}
			&:focus ~ svg {
				filter: grayscale(0);
			}
			flex: 1;
		}
	}
}
