

.search {
	&_input {
		width: 35rem;
		flex:1;
		svg {
			transform: $transition linear ;
			fill:#CACCCF;
			order: -1;
			
		}
		& > input[type="text"] {
			padding: 0.7em;
			font-size: 1.6rem;
            &::placeholder {
				color: $col-gray-btn-l;
				font-weight: $weight-1;
				font-family: inherit;
			}
			&,
			&:hover {
				border: none;
			}
			&:focus ~ svg {
				fill:$col-pri;
			}
			flex: 1;
		}
	}
}
