.sidebar {
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
	padding-bottom: 3rem;
	gap: 3rem;

	&_list {
		padding: 1.5rem 0;
	}
	&_logo {
		width: 80%;
		height: 5rem;
	}

	&_base {
		.contact_us {
			padding: 1rem 1rem;
			margin: 0 2rem;
		}
	}

	button {
		font-size: inherit;
		font-family: inherit;
	}
	&_list {
		display: grid;
		row-gap: 0.3rem;
	}

	&_link {
		width: 100%;
		padding: 1.4rem;
		padding-left: 14.999%;
		color: $col-gray-2;
		font-weight: $weight-1;
		position: relative;
		font-size: 1.6rem;

		&::before {
			content: "";
			width: 5px;
			height: 100%;
			opacity: 0;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&:hover,
		&.active {
	 color: $col-pri;

			&::before {
				opacity: 1;
				transition: 0.15s
					cubic-bezier(1, 0, 0, 1);
			}
		}
	}
}
