.customer_table {
	// padding-bottom: 3rem;

	// .tr {
	// 	display: grid;
	// 	grid-template-columns: min-content 1fr  2fr 1fr;
	// 	gap: 2rem;
	// 	justify-items: start;
	// 	padding: 1.7rem 2rem;
	// }
}


table {
	border-collapse: collapse;
	width: 100%;
	thead{
		background-color: $col-gray-4;
		font-weight: $weight-2;
		font-size: 1.5rem;
	}
	tr {
		&:not(:last-child) {
			border-bottom: 1px solid lighten($col-bord-1, 5%);
		}
	}
	th,
	td {
		padding: 1.5rem 2rem;
		& > * {
			color: $black;
		}
	}
	th {
		color: $col-gray-1;
		font-weight: $weight-2;
		text-transform: capitalize;
		text-align: left;
	}
	td {
	}
}